# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ────────────────
# Node & dependencies
# ────────────────
node_modules/

# ────────────────
# Expo
# ────────────────
.expo/
dist/
web-build/
expo-env.d.ts

# ────────────────
# Native build files & secrets
# ────────────────
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ────────────────
# Metro
# ────────────────
.metro-health-check*

# ────────────────
# Debug logs
# ────────────────
npm-debug.*
yarn-debug.*
yarn-error.*

# ────────────────
# macOS
# ────────────────
.DS_Store

# ────────────────
# Local env files
# ────────────────
.env
.env.local
.env.*.local

# ────────────────
# TypeScript
# ────────────────
*.tsbuildinfo
